<div class="col-md-9 blog-main">
    <h2 class="pb-3 mb-4  border-bottom">
      <%= @blog.title %>
    </h2>
    <% if logged_in?(:site_admin) %>
      <%= link_to 'Edit', edit_blog_path(@blog) %>
    <% end %>
    <p>
      <%= @blog.body %>
    </p>
</div>
